@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root{
    --primary-color: #4daf54;
}

.{
    margin: o;
    padding: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    background-image: linear-gradient( to right,#4daf54 , #3d8880 );
    font-family: "Poppins",sans-serif;
    overflow: hidden;
}
.card{
    margin:  120px auto;
    width: 320px;
    height: 400px;
    background: #272d40;
    padding: 40px 20px;
    border-radius: 15px;
    color: white;
    position: relative;

}
.card_heart, .card_cart {
    font-size:  25px;
    position: absolute;
    left: 20px;
    top: 12px;
    cursor: pointer;
    z-index: 2;

}

.card_cart{
    left: unset;
    right: 20px;
}
.card_img{
    width: 90%;
    transition: 0.5s;
}
.card_img img{
    width: 100% ;
    height:  100%;  
    object-fit: cover;
    object-position: center;

}
.card_title ,.card_price{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    transition: 0.5s;
    transition: 0.5s;


}
.card_title{
    color: var(--primary-color);

}
.card_size,.card_color{
    display: flex;
    align-items:  center;
    margin-bottom: 5px;


}
.card_size h3,
.card_color h3 {
  font-weight: unset;
  margin-right: 12px;
}
.card_size span{
    padding: 2px  5px ;
    background: #dadada;
    color: black;
    border-radius: 5px;
    margin: 0 5px ;
    cursor: pointer;
}
.card_color span{
  
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px; 
    cursor: pointer;

}

.card_color-green{
    background: green;
}
.card_color-red{
    background:  red;
}
.card_color-black{
    background: black;
}

.card_action button{
    background: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0,25s;
    cursor: pointer;
    margin-right: 7px;
}

.card_action button:hover{
    transform: scale(0.9);
}
.card:hover .card_img{
    transform: translateY(-90px)  rotate(-20deg);

}
.card:hover .card_title{
    transform: translate(-52px,-72px)  ;

}
.card:hover .card_price{
    transform: translate(-130px, -72px);

}

.card_size{
    margin-top: 100px;

}
.card_size,.card_color,.card_action{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}


.card:hover .card_color,
.card:hover .card_action,
.card:hover .card_size{
    visibility: visible;
    opacity: 1;
    transition-delay: 0,25s;
}
.card:hover .card_size{
    margin-top: -30px;
}